<h2>My Animes</h2>
<!-- <ul class="animes">
  <li *ngFor="let anime of animes" (click)="onSelect(anime)" [class.selected]="anime === selectedAnime">
    <span class="badge">{{anime.id}}</span>
    <span>{{anime.name}}</span>
    <button class="delete" (click)="delete(anime); $event.stopPropagation()">x</button>
  </li>
</ul> -->

<!-- <ul class="list-group">
  <li class="list-group-item" *ngFor="let anime of animes" (click)="onSelect(anime)" >
    <div class="d-flex justify-content-end">
      <span class="badge badge-dark">{{anime.id}} </span>
      <span> {{anime.name}}</span>
      <button class="badge badge-danger ml-auto" (click)="delete(anime); $event.stopPropagation()">x</button>
    </div>
  </li>
</ul> -->


<table class="table table-inverse table-bordered table-responsive table-striped table-hover">
  <thead>
    <tr>
      <th class="text-center"style="width: 10%">Ranking</th>
      <th class="" style="width: 90%">Anime</th>
      <th class="text-center " style="width: 10%">Puntuacion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" class="text-center">1</th>
      <td>
        <div class="card card-inverse" style="background-color: #333; border-color: #333; color:#fff">
          <div class="d-flex flex-row justify-content-start">
            <div class="d-flex flex-row justify-content-center">
              <img src="http://bulma.io/images/placeholders/96x96.png" class="rounded float-left" alt="Image">
            </div>
            <div class="d-flex flex-column align-self-center mx-2">
              <div class="card-block">
                <h4 class="card-title">Name</h4>
                <p class="card-text"> Genre</p>
              </div>
            </div>
          </div>
        </div>
      </td>
      <td class="text-center">10</td>
    </tr>
  </tbody>
</table>


<div *ngIf="selectedAnime">
  <h2>
    {{selectedAnime.name | uppercase}} is my anime
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
