<h2>Top Animes</h2>

<table class="table table-inverse table-bordered table-responsive table-striped table-hover">
  <thead>
    <tr>
      <th class="text-center"style="width: 10%">Ranking</th>
      <th class="" style="width: 90%">Anime</th>
      <th class="text-center " style="width: 10%">Puntuacion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let anime of animes" (click)="onSelect(anime)">
      <th scope="row" class="text-center ">
        <div class="d-flex flex-row justify-content-center align-items-center">
           {{anime.id}}
        </div>
      </th>
      <td>
        <div class="card card-inverse" style="background-color: #333; border-color: #333; color:#fff">
          <div class="d-flex flex-row justify-content-start">
            <div class="d-flex flex-row justify-content-center">
              <img src="{{anime.anime_image}}" class="rounded float-left" alt="Image" style="height:150px; width:100px;">
            </div>
            <div class="d-flex flex-column align-self-center mx-2">
              <div class="card-block">
                <a [routerLink]="['/detail', anime.id]">
                  <h4 class="card-title" (click)="onSelect(anime)">{{anime.name}}</h4>
                </a>
                <p class="card-text">
                  <span *ngFor="let animeg of anime.anime_genre" >
                    {{animeg}}
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </td>
      <td class="text-center">{{anime.anime_score}}</td>
    </tr>
  </tbody>
</table>


<!-- <div *ngIf="selectedAnime">
  <h2>
    {{selectedAnime.name | uppercase}} is my anime
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div> -->
