<div id="search-component" class="container">
  <h4>Anime Search</h4>
  <div class="row">
      <div class="col-md-12">
        <div class="input-group">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Buscar" #searchBox id="search-box" (keyup)="search(searchBox.value)">
            <button class="btn my-2 my-sm-0" type="submit">Buscar</button>
          </form>
        </div>
      </div>
  </div>
  <div>
    <div *ngFor="let anime of animes | async" (click)="gotoDetail(anime)" class="search-result">
      {{anime.name}}
    </div>
  </div>
</div>
