$black = #404040
$blue = #6DBDD6
$red = #B71427
$yellow = #FFE658
$white = #F6F6F6

#search-component
  margin: 20px 0px
  color: $white
  .list-group-item
    color: $black
  button
    background-color: $red
    color: $white



