$black = #404040
$blue = #6DBDD6
$red = #B71427
$yellow = #FFE658
$white = #F6F6F6

h3
  color $yellow

.card
  margin 20px 5px
  transition: all 200ms ease-in;
  transform: scale(1);
  &:hover
    transition: all 200ms ease-in;
    transform: scale(1.1);
  .card-body
    background-color: $blue
    color $red
    h4
      display: inline


