<h3>Top Animes</h3>
<div class="container">
  <app-anime-search></app-anime-search>
  <div class="row">
    <a *ngFor="let anime of animes" [routerLink]="['/detail', anime.id]" class="col-md-4">
      <div class="card">
        <div style='height: 400px;'>
          <img class="card-img-top" src="{{ anime.anime_image}}" alt="Card image cap" style='height: 100%;'>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-center">
            <h5 class="card-title text-center">{{anime.name}}</h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
